@import 'tailwindcss';

::-webkit-scrollbar {
  display: none !important;
}

/* Firefox */
html {
  scrollbar-width: none;
}
/* IE/Edge */
html {
  -ms-overflow-style: none;
}

:root {
  --background: #1a1a1a;
  --foreground: #ededed;
  --font-sans: 'Plus Jakarta Sans', Arial, sans-serif;
  --font-jakarta: 'Plus Jakarta Sans';
  --font-inter: 'Inter', Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

main{
  background-color: var(--background);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.nav-items-right {
  /* width: 28%; */
  /* min-width: 487px; */
  button {
    border: 1px solid rgba(255, 255, 255, 0.6);
    /* height: 62px; */
    /* height: 62px; */
    border-radius: 16px;
    .nav-items__text {
      font-family: var(--font-jakarta), sans-serif;
      /* font-size: 30px; */
      /* font-size: 30px; */
      font-weight: 300;
    }
  }
}

.nav-items-left {
  img {
    color: red;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}
.product-card-description {
  display: none;
}
.product-card:hover .product-card-description {
  animation: slideIn 500ms;
  display: block;
}
