@import 'tailwindcss';

::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #ededed;
  --foreground: #1a1a1a;
  --font-sans: 'Plus Jakarta Sans', Arial, sans-serif;
  --font-jakarta: 'Plus Jakarta Sans';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.nav-items {
  gap: 14px;
  width: 30%;
  button {
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* height: 62px; */
    height: 55px;
    border-radius: 16px;
    .nav-items__text {
      font-family: var(--font-jakarta), sans-serif;
      /* font-size: 30px; */
      /* font-size: 30px; */
      font-weight: 500;
    }
  }
}
